[core]
	editor="nvim"
[user]
	email = "git@ashtowner.com"
	name = "Ashley Towner"
[credential]
	helper = "store"
[commit]
	gpgsign = true
[diff]
	tool = "nvimdiff"
[difftool]
	prompt = true
[difftool.nvimdiff]
	cmd = "nvim -Md \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = "main"
[merge]
	tool = "nvimmerge"
[mergetool]
	keepBackup = false
[mergetool.nvimmerge]
	cmd = "nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'"
	trustExitCode = false
[branch]
	sort = -committerdate
[rerere]
	enabled = true
[alias]
	aa = "add --all"
	amend = "commit --amend --no-edit"
	b = "branch"
	blm = "blame -w -C -C -C"
	c = "commit"
	clean-branches = "!f() { git fetch -p && for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done }; f"
	cm = "commit -m"
	co = "checkout"
	cob = "checkout -b"
	dry-merge = "merge --no-commit --no-ff"
	fco = "!f() { if [ $1 ]; then git checkout $(git branch | sed 's/*/ /g' | fzf -1 --query $1); else git checkout $(git branch | sed 's/*/ /g' | fzf); fi }; f"
	logg = "log --oneline --graph"
	p = "!f() { git push -u origin $(git rev-parse --abbrev-ref HEAD) $@; }; f"
	pf = "push --force-with-lease"
	remote-head = "!f() { git ls-remote $1 | grep HEAD | awk '{ print $1 }'; }; f"
	staash = "stash --all"
	sw = "switch"
	wd = "diff --word-diff"
[include]
	path = "~/.config/local_override/git/.gitconfig"
[pull]
	rebase = true
