[submodule "zsh/.config/zsh/autoload/zsh-syntax-highlighting"]
	path = zsh_s/.config/zsh/autoload/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.config/zsh/autoload/runnable-scripts.zsh"]
	path = zsh_s/.config/zsh/autoload/runnable-scripts.zsh
	url = https://github.com/ashleytowner/runnable-scripts.zsh
