[submodule "zsh/.config/zsh/autoload/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/autoload/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.config/zsh/autoload/runnable-scripts.zsh"]
	path = zsh/.config/zsh/autoload/runnable-scripts.zsh
	url = https://github.com/ashleytowner/runnable-scripts.zsh
[submodule "zsh/.config/zsh/autoload/powerlevel10k"]
	path = zsh/.config/zsh/autoload/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/bin/pert-calculator"]
	path = zsh/bin/pert-calculator
	url = https://github.com/ashleytowner/pert-calculator
[submodule "kitty/.config/kitty/themes/catppuccin"]
	path = kitty/.config/kitty/themes/catppuccin
	url = https://github.com/catppuccin/kitty
[submodule "tmux/.config/tmux/tpm"]
	path = tmux/.config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "alacritty/.config/alacritty/catppuccin"]
	path = alacritty/.config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
